{% extends 'base.html' %}

{% block head %}

<title>Fine Tuning BERT</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Tree Traversal</h1>
    <h2 style="text-align: center"><b>This model uses sequence-to-sequence attention mechanism</b></h2>

    <div class="form">
        <form action="/" method="POST">


            <p>Enter Root node</p>
            <input type="text" name="key" id="key">
            <br>
            <p>Enter 5 children for the root node</p>
            <input type="text" name="seq" id="seq">
            <br>
            <p>Choose the order of Traversal</p>
            <input type="radio" name="order" value="inorder">
            <label>inorder</label><br>
            <input type="radio" name="order" value="postorder">
            <label >postorder</label><br>
            <input type="radio"name="order" value="preorder">
            <label >preorder</label><br><br>
            <br>
            <input type="submit" value="GO">



        </form>
    </div>
</div>
{% endblock %}